/*header*/
.public-header{
    height: 80px;
    background-color: #0a041e;

}
.public-container{
    position: relative;
    margin: 0 auto;
    width: 1000px;

}
.header-logo img{
    float: left;
}
.header-list{
    margin-top: 40px;
    float: right;

}
.header-list li {
    font-size:20px;
    color: RGBA(153,161,166,1.0);
    float: left;
    padding-left: 10px;
}
.header-list li a{
    font-family: '微软雅黑';
    color: RGBA(153,161,166,1.0);
}

.header-list li a:hover{
    text-decoration: underline;

}
/*footer*/
.public-footer{
    background-color: #0a041e;
}
.contact-list{
    position: relative;
    left: 414px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-list a{
    float: left;
    padding-left: 18px;
    width: 32px;
    height: 32px;
}
.contact-list .weixin{
    background: url("../img/wechat.png") no-repeat;
}
.contact-list .weixin:hover{
    background:url("../img/wechat1.png") no-repeat;
}
.contact-list .weixin:hover i{
    display: block;
}
.contact-list .weixin i{
    background: url("../img/qrcode.png") no-repeat;
    position: relative;
    display: none;
    width: 180px;
    height: 220px;
    left: -90px;
    top:-213px;
    z-index: 5;
}


.contact-list .weibo{
    background: url("../img/weibo.png") no-repeat;
}
.contact-list .weibo:hover{
    background:url("../img/weibo1.png") no-repeat;
}
.contact-list .email{
    background: url("../img/email.png") no-repeat;
}
.contact-list .email:hover{
    background:url("../img/email1.png") no-repeat;
}
.contact-list .qqzone{
    background: url("../img/qzone.png") no-repeat;
}
.contact-list .qqzone:hover{
    background:url("../img/qzone1.png") no-repeat;
}

.footer-contact{
    font-family: '微软雅黑';
    color: RGBA(153,161,166,1.0);
    font-size: 13px;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 15px;

}
.copyright {
    font-size: 13px;
    padding-top: 15px;
    text-align: center;
    color: RGBA(153,161,166,1.0);
    padding-bottom: 20px;

}
/*固定导航栏*/
.fixed-container{
    border: 2px solid RGBA(153,161,166,1.0);
    border-radius: 8px;
    position: fixed;
    left:50%;
    width: 80px;
    margin-left: 465px;
    bottom:50px;
    background-color: #0a041e;
    z-index: 2;
}
.fixed-container li{
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid RGBA(153,161,166,1.0);
}
.fixed-container li:hover a{
   color: red;
}