#container{
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 334px;
    overflow: hidden;
}

#list{width:7000px;height:400px;z-index: 1;left: -1000px; position: absolute;}
#list img{float:left;width: 1000px;height: 334px;}
#buttons{height: 10px;width: 150px;z-index: 2;bottom:20px;left:450px;position:absolute;}
#buttons span{cursor: pointer;float: left;border: 1px solid #fff;width: 10px;height: 10px;border-radius: 50%;background: #333;margin: 4px;}
#buttons .on{background:orangered;}
.arrow{cursor: pointer;display:none;line-height: 40px;text-align: center;font-size: 36px;font-weight: bold;width: 40px;height: 40px;z-index: 2;position: absolute;top: 150px;background: RGBA(0,0,0,.3);color: #fff;}
.arrow:hover{background: RGBA(0,0,0,.7);}
#container:hover .arrow{display: block;}
#prev{left: 20px;}
#next{right:20px;}
.information{
    margin-top: -30px;
}
.content-container{
    padding-top: 30px ;
    background-color: #f3eeee;
    overflow: hidden;
}
.content-container .title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}
.content-container .title-line{
    display: inline-block;
    width:60px;
    border-top: 2px solid RGBA(153,161,166,1.0);
    vertical-align: middle;
}
.content-container .title-words{
    margin-left: 10px;
    margin-right: 10px;
}
.about-me .mypicture-container{
    float: left;
    padding-left: 30px;
    width: 260px;
}
.about-me .my-picture{
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 10px solid RGBA(153,161,166,1.0) ;
    border-radius: 50%;
}
.about-me .welcome{
    line-height: 40px;
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
}
.about-me .details{
    width: 250px;
    float: left;
    position: relative;
    padding-left: 70px;
    top: 120px;
    font-size: 15px;
}
.about-me .details .oneline{
    display: block;
    line-height: 40px;
}
.about-me .details a{
    display: inline-block;
}
.about-me .details .content{
}
.about-me .introduce{
    float: left;
    text-indent: 2em;
    position: relative;
    padding-left: 50px;
    width: 270px;
    top: 120px;
    line-height: 35px;
    font-size: 15px;
    color: RGBA(153,161,166,1.0);
    font-family: '微软雅黑';
}
/*我的技术*/
.my-skills {
    margin-left: 101px;
    padding-top: 80px;
    margin-bottom: 50px;
    overflow: hidden;
}
.my-skills a{
    position:relative;
    overflow:hidden;
    float: left;
    border: 3px solid RGBA(153,161,166,1.0);
    border-radius:8px;
    box-shadow:0px 0px 8px rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
}
.my-skills a img{
    width: 100px;
    height: 100px;
}
.my-skills a+a{
    margin-left: 30px;
}

.my-skills a:hover{
    box-shadow:0px 0px 8px rgba(0,174,239, 1)
}
.my-skills .boxtips{
    position:absolute;
    left:0;
    width: 100px;
    height: 100px;
    bottom:-100px;
    background:rgba(0,0,0,0.8);
     color:#e8432e;
    text-align:center;
    font-size:20px;
    line-height:100px;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
.my-skills a:hover .boxtips{
    bottom: 0px;
}
.mywork .project{
    width: 200px;
    overflow: hidden;
    float: left;
    padding-left: 40px;
    margin-top: 20px;
}
.mywork  .project-name{
    text-align: center;
    line-height: 40px;
}
.mywork  .project-name:hover{
    text-decoration: underline;
}
.mywork  .project-image{
    width: 200px ;
    height: 200px;
    border-radius: 10px;
}
.mywork   .jokeProject{
    background:url("../img/xhdq.png") no-repeat;
    background-size: 200px 200px;
}
.mywork   .webAPP{
    background:url("../img/ydq.png") no-repeat;
    background-size: 200px 200px;
}
.mywork   .little-game{
    background:url("../img/2048.jpg") no-repeat;
    background-size: 200px 200px;
}
.mywork .licaibao{
    background:url("../img/xyswz.png") no-repeat;
    background-size: 200px 200px;
}
.mywork .xian{
    background:url("../img/sxlyw.png") no-repeat;
    background-size: 200px 200px;
}
.mywork .clock{
    background:url("../img/clock.png") no-repeat;
    background-size: 200px 200px;
}
.mywork .food-shop{
    background:url("../img/foodshop.jpg") no-repeat;
    background-size: 200px 200px;
}
.mywork .album{
    background:url("../img/mobile.png") no-repeat;
    background-size: 200px 200px;
}
.mywork .project-describe{
    color: RGBA(153,161,166,1.0);
    text-align: center;
    font-size: 15px;
}
.my-interest {
    margin-left: 80px;
    padding-top: 20px;
    margin-bottom: 50px;
    overflow: hidden;
}
.my-interest .interest-item{
    position:relative;
    overflow:hidden;
    float: left;
    margin-right: 45px;
    border: 3px solid RGBA(153,161,166,1.0);
    border-radius:8px;
    box-shadow:0px 0px 8px rgba(0,0,0,0.5);
    width: 170px;
    height: 170px;
}
.my-interest .interest-item:hover{
    box-shadow:0px 0px 8px rgba(0,174,239, 1)
}
.my-interest .boxtips{
    position:absolute;
    left:0;
    width: 170px;
    height: 170px;
    bottom:-170px;
    background:rgba(0,0,0,0.8);
    color:#e8432e;
    text-align:center;
    font-size:25px;
    line-height:170px;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
.my-interest .interest-item:hover .boxtips{
    bottom: 0px;
}
.left-box{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    width: 800px;
    display: none;
    background-color: #f3eeee;
    margin-bottom: 30px;
    margin-top: -20px;
}
.left-box h3{
    line-height: 50px;
    display: block;
    color: RGBA(153,161,166,1.0);
    font-family: '微软雅黑';
    text-align: center;
}
.book-name-image{
    width: 120px;
    float: left;
    margin: 10px 0px 10px 0;
}
.reading-box .bookone-name{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-left: -20px;
    color: RGBA(153,161,166,1.0);
}
.book-decoration{
    padding-top: 10px;
    text-indent: 2em;
    word-break:break-all;
    display: block;
    font-size: 14px;
    color: RGBA(153,161,166,1.0);
}
.basketball-box img{
    margin: 0 auto;
}
.basketball-container{
    margin-top: 15px;
}
.nba-decoration{
    text-align: center;
}
.nba-article{
    text-indent: 2em;
    word-break:break-all;
    display: block;
    font-size: 14px;
    color: RGBA(153,161,166,1.0);
    margin: 10px;
}
.moives-box{
    margin: 0 auto;
    margin-bottom: 30px;
}
.movies-container{
    float: left;
    margin-left: 30px;
}
.movies-name{
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
.little-item{
    clear: both;
    display: block;
    color: RGBA(153,161,166,1.0);
    font-size: 15px;
    line-height: 35px;
    margin-left: 30px;
}
