html{
  font-size: 62.5%;
  color: #222;
}
//导航栏高度
@navHeight:4.5rem;
.logoImg{
  height:@navHeight;
}
//body让出导航栏高度
body{padding-top: @navHeight;}

//去掉logo图的padding
.navbar-brand{
  padding: 0;
  height: auto;
}
//设置主题色
@navbarSelf:navbar-self;
@themBColor:#1d9a71;
@themDarkBColor:#198461;
@navColor:#fff;
.@{navbarSelf}{
  background-image: none;
  background-color: @themBColor;
  color:@navColor;
  border: none;
}
.navbar-nav {
  margin: 0 -15px;
  margin-left: 2rem;
}
.fa{
  line-height: @navHeight;
}
.nav>li>a {
  padding: 0px 15px;
  .fa;
}
.@{navbarSelf} .navbar-nav>.open>a, .@{navbarSelf} .navbar-nav>.open>a:hover, .@{navbarSelf} .navbar-nav>.open>a:focus {
  color: @navColor;
  background-color:@themDarkBColor;
  background-image: none;
  box-shadow: none;
  line-height: @navHeight;
}
.navbar-fixed-top{
  position: fixed;
  z-index: 1030;
}

.container{
  padding: 0 5px;
}

@footerHeight:4rem;
.footer{
  width: 100%;
  bottom:0;
  background-color:@themDarkBColor;
  z-index: 1030;
  text-align: center;
  min-height: @footerHeight;
  line-height: @footerHeight;
}
.@{navbarSelf} .navbar-nav>li>a {
  color: @navColor;
}
.navbar-nav>li>a:hover{
  background:none;
}
.@{navbarSelf} .navbar-toggle {
  border-color: @navColor;
}
.@{navbarSelf} .navbar-toggle:focus,.@{navbarSelf} .navbar-toggle:hover{
  background: none;
  background-color: @themDarkBColor;
}
.@{navbarSelf} .navbar-collapse, .@{navbarSelf} .navbar-form {
  border-color: @themDarkBColor;
}

//轮播图
@carouselHeight:30rem;
.carousel{
  background-color: #000;
  height: @carouselHeight;
}
.carousel .item{
  height: @carouselHeight;
  background-image: url("../newImages/mountain.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
}
.carousel img{
  width: 100%;
  min-height: @carouselHeight;
  object-fit: cover;
}
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.8;
}
.fa{
  vertical-align: bottom;
  margin-right:0.2rem;
}
.fa-2x{
  font-size: 1.5em;
}

.@{navbarSelf} .nav>li:last-child{
  border-bottom: none;
}
.@{navbarSelf} .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}

.myContainer .item{
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 9px #888888;
  line-height: 1.8;
  text-align: center;
  height: 223px;
  overflow: hidden;
  position: relative;
}
.myContainer .item img{
  height: 180px;
  width: 180px;
  margin-top: 11px;
}
.title{
  text-align: center;
  color:#666;
  margin:20px;
}
.title::before{
  display: inline-block;
  content: "";
  border-bottom: 3px solid #666;
  width: 40px;
  vertical-align: middle;
  margin-right: 20px;
}
.title::after{
  display: inline-block;
  content: "";
  border-bottom: 3px solid #666;
  width: 40px;
  vertical-align: middle;
  margin-left: 20px;
}

/*我的技术*/
.my-skills {
  margin-bottom: 50px;
}
@skillItemWidth:90px;
.my-skills .skillItem{
  padding: 0;
  margin-bottom:20px;
  position:relative;
  overflow:hidden;
  float: left;
  border-radius:8px;
  box-shadow:0px 0px 8px rgba(0,0,0,0.5);
  width: @skillItemWidth;
  height: @skillItemWidth;
  left:50%;
  margin-left: -(@skillItemWidth/2);
}
.my-skills .skillItem img{
  width: @skillItemWidth;
  height: @skillItemWidth;
}
.my-skills .skillItem:hover{
  box-shadow:0px 0px 8px rgba(0,174,239, 1)
}
.my-skills .boxtips{
  position:absolute;
  left:0;
  width: @skillItemWidth;
  height: @skillItemWidth;
  bottom:-@skillItemWidth;
  background:rgba(0,0,0,0.8);
  color:#e8432e;
  text-align:center;
  font-size:15px;
  line-height: 1.5;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
}
.my-skills .skillItem:hover .boxtips{
  bottom: 0px;
}
.boxtipsContent{
  margin: 30px auto;
}
.progress {
  height:6px;
  margin: 0 10px;
}
.progress-bar{
  background-color:#e8432e !important;
  background-image: none;
}
@projectWidth:120px;
.project{
  left:50%;
  margin-left: -@projectWidth/2;
  width: @projectWidth;
  height: 60px+@projectWidth;
  box-shadow: 1px 1px 10px #666;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
.project-pic{
  width: @projectWidth;
  height:@projectWidth;
}
.project-name{
  text-align: center;
  color:#666;
}
.project-describe{
  text-align: center;
  color:#666;
  font-size: 10px;
}
@media (min-width: 370px){
  @projectWidth:150px;
  .project{
    margin-left: -@projectWidth/2;
    width: @projectWidth;
    height: 60px+@projectWidth;
  }
  .project-pic{
    width: @projectWidth;
    height:@projectWidth;
  }
}
.hobby{
  width:100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.nav-self{
  height: 30px;
  border: 1px #d8d8d8 solid;
  font-size: 0;
  position: relative;
}
.tap{
  width: 25%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}
.tap-active{
  position: absolute;
  background-color: #11ac63;
  height: 30px;
  width: 0;
  transition: 0.5s;
  left:0;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}
.tabContent{
  left:0;
  position: relative;
  width: 400%;
  transition: 0.5s;
}
.tabItem{
  float:left;
  width: 25%;
  text-align: center;
  height: 500px;
}
.book-name-image{
  float: left;
}


//媒体查询
@media (max-width: 767px){
  .myInfo{
    height: auto !important;
  }
  .@{navbarSelf} .nav>li {
    border-bottom: 1px solid @themDarkBColor;
  }
  @litteHeight:3.5rem;
  .fa{
    line-height: @litteHeight;
  }
  .@{navbarSelf} .navbar-nav > .open > a, .@{navbarSelf} .navbar-nav > .open > a:hover, .@{navbarSelf} .navbar-nav > .open > a:focus {
    line-height: @litteHeight;
  }
  .nav > li > a {
    line-height: @litteHeight;
  }
  .@{navbarSelf} .navbar-nav {
    margin-left: -1.5rem;
  }
  .@{navbarSelf} .navbar-nav .open .dropdown-menu>li>a {
    color: @navColor;
  }
  .@{navbarSelf} .navbar-nav .open .dropdown-menu .divider {
    background-color: @themDarkBColor;
    margin:0 0 0 25px ;

  }
  //轮播图
  @carouselHeight:15rem;
  .carousel{
    height: @carouselHeight;
  }
  .carousel .item{
    height: @carouselHeight;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
  }
  .@{navbarSelf} .navbar-nav .open .dropdown-menu>li>a, .@{navbarSelf} .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 50px;
  }
  .myContainer .item{
    margin-bottom: 20px;
  }

}

