html{
  font-size: 62.5%;
  color: #222;
}
//自定义导航栏和footer
//设置主题色
@navbarSelf:navbar-self;//主题名称
@themBColor:#1d9a71;//主题色(浅色)
@themDarkBColor:#198461;//主题色(深色)
@navColor:#fff;//菜单栏字体颜色
@navHeight:4.5rem;//导航栏高度

body{padding-top: @navHeight;}//body让出导航栏高度



.@{navbarSelf}{
  background-image: none;
  background-color: @themBColor;
  color:@navColor;
  border: none;

  .navbar-header{
    .navbar-toggle {
      border-color: @navColor;

      &:focus,&:hover{
        background: none;
        background-color: @themDarkBColor;
      }
    }

    .navbar-brand{//去掉logo图的padding
      padding: 0;
      height: auto;

      .logoImg{
        height:@navHeight;
        margin-right: 30px;
      }
    }
  }

  .navbar-collapse{
    border-color: @themDarkBColor;
    padding-left: 2.2rem;
    max-height: none;

    .navbar-nav {
      margin: 0 -15px;

      .myModel{
        color: @navColor;
        background-color:@themDarkBColor;
        background-image: none;
        box-shadow: none;
        line-height: @navHeight;
      }

      li{
        &:last-child{
          border-bottom: none;
        }
        a{
          padding: 0px 15px;
          line-height: @navHeight;
          color: @navColor;

          &:hover{
            background:@themDarkBColor;
          }
        }
      }
    }
  }
}

.fa{
  line-height: @navHeight;
  vertical-align: bottom;
  margin-right:0.2rem;
}
.fa-2x{
  font-size: 1.5em;
}

@media (max-width: 767px){
  @litteHeight:3rem;
  .@{navbarSelf}{
    .navbar-nav{
      margin-left: -1.5rem;

      .open{
        .dropdown-menu{
          .dropdown-header{
            line-height: @litteHeight;
          }
          .divider {
            background-color: @themDarkBColor;
            margin:0 0 0 15px ;
          }
          li{
            a {
              color: @navColor;
              line-height: @litteHeight;
            }
          }
        }
        &>a,&>a:hover,&>a:focus{
          line-height: @litteHeight !important;
          background-color: @themDarkBColor;
        }
      }

      &>li{
        border-bottom: 1px solid @themDarkBColor;

        &>a{
          line-height: @litteHeight !important;
        }
      }
    }
  }
  .fa{
    line-height: @litteHeight;
  }
  .container{
    padding: 0 5px;
  }
}
.navbar-fixed-top{
  position: fixed;
  z-index: 1030;
}
//footer部分
@footerHeight:4rem;//底部高度
.footer{
  width: 100%;
  bottom:0;
  background-color:@themDarkBColor;
  z-index: 1030;
  text-align: center;
  min-height: @footerHeight;
  line-height: @footerHeight;
}


//轮播图模块
@carouselHeight:30rem;
.carousel{
  background-color: #000;
  height: @carouselHeight;

  .item{
    height: @carouselHeight;
    background-image: url("../newImages/mountain.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;

    .carousel-caption{
      p{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1.8;
      }

    }
  }
}
@media (max-width: 767px) {
  @carouselHeight: 16rem;
  .carousel {
    height: @carouselHeight;

    .item {
      height: @carouselHeight;
    }
  }
}

//我的资料模块
.aboutMe{
  .item{
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 1px 1px 9px #888888;
    line-height: 1.8;
    text-align: center;
    height: 223px;
    overflow: hidden;
    position: relative;

    img{
      height: 180px;
      width: 180px;
      margin-top: 11px;
    }
  }
}
@media (max-width: 767px){
  .aboutMe .item{
    margin-bottom: 20px;
  }
  .myInfo{
    height: auto !important;
  }
}


//模块标题栏
.title{
  text-align: center;
  color:#666;
  margin:20px;

  .bAline{
    display: inline-block;
    content: "";
    border-bottom: 3px solid #666;
    width: 40px;
    vertical-align: middle;
  }
  &::before{
    .bAline;
    margin-right: 20px;
  }
  &::after{
    .bAline;
    margin-left: 20px;
  }
}

/*我的技术*/
.my-skills {
  margin-bottom: 50px;
  @skillItemWidth:90px;

  .skillItem{
    padding: 0;
    margin-bottom:20px;
    position:relative;
    overflow:hidden;
    float: left;
    border-radius:8px;
    box-shadow:0px 0px 8px rgba(0,0,0,0.5);
    width: @skillItemWidth;
    height: @skillItemWidth;
    left:50%;
    margin-left: -(@skillItemWidth/2);

    &:hover{
      box-shadow:0px 0px 8px rgba(0,174,239, 1);

      .boxtips{
        bottom: 0px;
      }
    }

    img{
      width: @skillItemWidth;
      height: @skillItemWidth;
    }
    .boxtips{
      position:absolute;
      left:0;
      width: @skillItemWidth;
      height: @skillItemWidth;
      bottom:-@skillItemWidth;
      background:rgba(0,0,0,0.8);
      color:#e8432e;
      text-align:center;
      font-size:15px;
      line-height: 1.5;
      transition:all 0.5s;
      -webkit-transition:all 0.5s;

      .boxtipsContent{
        margin: 30px auto;

        .progress {
          height:6px;
          margin: 0 10px;

          .progress-bar{
            background-color:#e8432e !important;
            background-image: none;
          }
        }
      }
    }
  }
}

//项目模块
@projectWidth:300px;
.project:nth-child(odd){
  .project-pic{
    float: left;
  }
}
.project:nth-child(even){
  .project-pic{
    float: right;
  }
}
.project{
  left:50%;
  margin-left: -@projectWidth/2;
  width: @projectWidth;
  height:@projectWidth+(-150);
  box-shadow: 1px 1px 10px #666;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  .project-pic{
    width: @projectWidth+(-150);
    height:@projectWidth+(-150);
  }
  .project-pic:nth-child(odd){
    float: left;
  }
  .project-pic:nth-child(even){
    float: right;
  }

  .project-name{
    text-align: center;
    color:#666;
  }

  .project-describe{
    text-align: center;
    color:#666;
    font-size: 10px;
  }
}
/*@media (min-width: 370px){
  @projectWidth:150px;
  .project{
    margin-left: -@projectWidth/2;
    width: @projectWidth;
    height: 60px+@projectWidth;

    .project-pic{
      width: @projectWidth;
      height:@projectWidth;
    }
  }
}*/

//兴趣爱好模块
.hobby{
  width:100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .nav-self{
    height: 30px;
    border: 1px #d8d8d8 solid;
    font-size: 0;
    position: relative;

    .tap{
      width: 25%;
      display: inline-block;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
    }

    .tap-active{
      position: absolute;
      background-color: #11ac63;
      height: 30px;
      width: 0;
      transition: 0.5s;
      left:0;
      margin-top: -1px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 30px;
    }
  }

  .tabContent{
    left:0;
    position: relative;
    width: 400%;
    transition: 0.5s;

    .tabItem{
      float:left;
      width: 25%;
      text-align: center;
      height: 500px;

      .book-container{
        .book-name-image{
          float: left;
        }
      }
    }
  }
}





