html{
  font-size: 62.5%;
  color: #222;
}
//自定义导航栏和footer
//设置主题色
@navbarSelf:navbar-self;//主题名称
@themBColor:#1d9a71;//主题色(浅色)
@themDarkBColor:#198461;//主题色(深色)
@navColor:#fff;//菜单栏字体颜色
@navHeight:4.5rem;//导航栏高度
@contourColor:#d8d8d8;

//工具类
.boxShadow(@shadowColor:#888888){
  box-shadow: 0px 0px 5px @shadowColor;
}


body{padding-top: @navHeight;}//body让出导航栏高度



.@{navbarSelf}{
  background-image: none;
  background-color: @themBColor;
  color:@navColor;
  border: none;

  .navbar-header{
    .navbar-toggle {
      border-color: @navColor;

      &:focus,&:hover{
        background: none;
        background-color: @themDarkBColor;
      }
    }

    .navbar-brand{//去掉logo图的padding
      padding: 0;
      height: auto;

      .logoImg{
        height:@navHeight;
        margin-right: 30px;
      }
    }
  }

  .navbar-collapse{
    border-color: @themDarkBColor;
    padding-left: 2.2rem;
    max-height: none;

    .navbar-nav {
      margin: 0 -15px;

      .myModel{
        color: @navColor;
        background-color:@themDarkBColor;
        background-image: none;
        box-shadow: none;
        line-height: @navHeight;
      }

      li{
        &:last-child{
          border-bottom: none;
        }
        a{
          padding: 0px 20px;
          line-height: @navHeight;
          color: @navColor;

          &:hover{
            background:@themDarkBColor;
          }
        }
      }
    }
  }
}

.fa{
  line-height: @navHeight;
  vertical-align: bottom;
  margin-right:0.2rem;
}
.fa-2x{
  font-size: 1.5em;
}

@media (max-width: 767px){
  @litteHeight:3.5rem;
  .@{navbarSelf}{
    .navbar-nav{
      margin-left: -1.5rem;

      .open{
        .dropdown-menu{
          .dropdown-header{
            line-height: @litteHeight;
          }
          .divider {
            background-color: @themDarkBColor;
            margin:0 0 0 40px ;
          }
          li{
            a {
              color: @navColor;
              line-height: @litteHeight;
              padding: 0 50px;
            }
          }
        }
        &>a,&>a:hover,&>a:focus{
          line-height: @litteHeight !important;
          background-color: @themDarkBColor;
        }
      }

      &>li{
        border-bottom: 1px solid @themDarkBColor;

        &>a{
          line-height: @litteHeight !important;
        }
      }
    }
  }
  .fa{
    line-height: @litteHeight;
  }
  .container{
    padding: 0 5px;
  }
}
.navbar-fixed-top{
  position: fixed;
  z-index: 1030;
}
//footer部分
@footerHeight:4rem;//底部高度
.footer{
  width: 100%;
  bottom:0;
  background-color:@themDarkBColor;
  z-index: 1030;
  text-align: center;
  min-height: @footerHeight;
  line-height: @footerHeight;
}


//轮播图模块
@carouselHeight:30rem;
.carousel{
  background-color: #000;
  height: @carouselHeight;

  .item{
    height: @carouselHeight;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;

    .carousel-caption{
      p{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1.8;
      }

    }
  }
}
@media (max-width: 767px) {
  @carouselHeight: 18rem;
  .carousel {
    height: @carouselHeight;

    .item {
      height: @carouselHeight;
    }
  }
}

//我的资料模块
.aboutMe{
  .item{
    padding: 0.4rem;
    background-color: #fff;
    .boxShadow();
    line-height: 2;
    text-align: center;
    height:200px;
    overflow: hidden;
    position: relative;
    font-size: 12px;

    img{
      height: 180px;
      width: 180px;
      margin-top: 5px;
    }
  }
  .myInfo{
    line-height: 1.8;
  }
}
@media (max-width: 767px){
  .aboutMe .item{
    margin-bottom: 20px;
  }
  .myInfo{
    height: auto !important;
  }
}


//模块标题栏
.title{
  text-align: center;
  color:#666;
  font-weight: 600;
  margin:20px;
  font-size: 18px;

  .bAline{
    display: inline-block;
    content: "";
    border-bottom: 2px solid #666;
    width: 30px;
    vertical-align: middle;
  }
  &::before{
    .bAline;
    margin-right: 10px;
  }
  &::after{
    .bAline;
    margin-left: 10px;
  }
}

/*我的技术*/
.my-skills {
  @skillItemWidth:90px;
  .skillItem{
    padding: 0;
    margin-bottom:20px;
    position:relative;
    overflow:hidden;
    float: left;
    border-radius:8px;
    .boxShadow;
    width: @skillItemWidth;
    height: @skillItemWidth;
    left:50%;
    margin-left: -(@skillItemWidth/2);

    &:hover{
      .boxShadow(#00aeef);

      .boxtips{
        bottom: 0px;
      }
    }

    img{
      width: @skillItemWidth;
      height: @skillItemWidth;
    }
    .boxtips{
      position:absolute;
      left:0;
      width: @skillItemWidth;
      height: @skillItemWidth;
      bottom:-@skillItemWidth;
      background:rgba(0,0,0,0.8);
      color:#e8432e;
      text-align:center;
      font-size:15px;
      line-height: 1.5;
      transition:all 0.5s;
      -webkit-transition:all 0.5s;

      .boxtipsContent{
        margin: 30px auto;

        .progress {
          height:6px;
          margin: 0 10px;

          .progress-bar{
            background-color:#e8432e !important;
            background-image: none;
          }
        }
      }
    }
  }
}


//项目模块
@projectWidth:100%;
.project{
  width: @projectWidth;
  height:120px;
  .boxShadow();
  display: inline-block;
  margin-bottom: 20px;
  position: relative;

  .project-pic{
    width: 100px;
    height:100px;
    float: left;
    border-radius: 50%;
    margin: 10px 0 0 10px;
    border: 1px solid @themBColor;
  }


  .project-name{
    text-align: center;
    color:#666;
    margin:20px 10px 0 10px;
    font-size: 15px;
    font-weight: 600;
  }

  .project-describe{
    text-align: center;
    color:#666;
    font-size: 13px;
    line-height: 1.8;
    margin: 10px;
  }
}

@media (min-width: 407px) and (max-width: 776px){
  @projectWidth:350px;
  .project{
    left:50%;
    margin-left: -@projectWidth/2;
    width: @projectWidth;
  }
}

//兴趣爱好模块
.hobby{
  width:100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .nav-self{
    height: 30px;
    border: 1px @contourColor solid;
    font-size: 0;
    position: relative;

    .tap{
      width: 25%;
      display: inline-block;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
    }

    .tap-active{
      position: absolute;
      background-color: #11ac63;
      height: 30px;
      width: 0;
      transition: 0.5s;
      left:0;
      margin-top: -1px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      line-height: 30px;
    }
  }
  .view{
    display: block;
    width: 100%;
    overflow: hidden;

    .tabContent{
      left:0;
      position: relative;
      width: 400%;
      transition: 0.5s;
      height: auto;

      .tabItem{
        max-height: 300px;
        overflow-y: scroll;
        float:left;
        width: 25%;

        .bookContainer{
          min-height: 180px;
        }
        .container{
          width: 100%;
        }
        .oneItem{
          border: 1px solid @contourColor;
          margin: 10px 0;
          padding: 10px;
          .book-name-image{
            float: left;
            margin: 0 10px 0 0;
            .bookTitle{
              text-align: center;
              color: #666;
              margin: 5px 0;
            }
          }
          .oneItemTitle{
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: #666;
            margin-bottom: 10px;
          }
          .mainImg{
            margin: 0 auto 10px;
            display: block;
            max-width: 100%;
          }
          .oneItemArticle{
            color: #666;
            line-height: 1.5;
            font-size: 12px;
            text-indent: 2em;
          }
          .col-sm-2,col-xs-4{
            padding: 0 5px !important;
          }
        }
        .oneItemTitle{
          color: #666;
          text-align: center;
          font-weight: 600;
          margin: 10px 0 8px 0;
        }
      }
    }
  }
}
.imgs-grid-modal .modal-close{
  top:55px !important;
  z-index: 1;
}
.imgs-grid{
  max-width: none;
}




