html {
  font-size: 62.5%;
  color: #222;
}
body {
  padding-top: 4.5rem;
}
.navbar-self {
  background-image: none;
  background-color: #1d9a71;
  color: #ffffff;
  border: none;
}
.navbar-self .navbar-header .navbar-toggle {
  border-color: #ffffff;
}
.navbar-self .navbar-header .navbar-toggle:focus,
.navbar-self .navbar-header .navbar-toggle:hover {
  background: none;
  background-color: #198461;
}
.navbar-self .navbar-header .navbar-brand {
  padding: 0;
  height: auto;
}
.navbar-self .navbar-header .navbar-brand .logoImg {
  height: 4.5rem;
  margin-right: 30px;
}
.navbar-self .navbar-collapse {
  border-color: #198461;
  padding-left: 2.2rem;
  max-height: none;
}
.navbar-self .navbar-collapse .navbar-nav {
  margin: 0 -15px;
}
.navbar-self .navbar-collapse .navbar-nav .myModel {
  color: #ffffff;
  background-color: #198461;
  background-image: none;
  box-shadow: none;
  line-height: 4.5rem;
}
.navbar-self .navbar-collapse .navbar-nav li:last-child {
  border-bottom: none;
}
.navbar-self .navbar-collapse .navbar-nav li a {
  padding: 0px 20px;
  line-height: 4.5rem;
  color: #ffffff;
}
.navbar-self .navbar-collapse .navbar-nav li a:hover {
  background: #198461;
}
.fa {
  line-height: 4.5rem;
  vertical-align: bottom;
  margin-right: 0.2rem;
}
.fa-2x {
  font-size: 1.5em;
}
@media (max-width: 767px) {
  .navbar-self .navbar-nav {
    margin-left: -1.5rem;
  }
  .navbar-self .navbar-nav .open .dropdown-menu .dropdown-header {
    line-height: 3.5rem;
  }
  .navbar-self .navbar-nav .open .dropdown-menu .divider {
    background-color: #198461;
    margin: 0 0 0 40px ;
  }
  .navbar-self .navbar-nav .open .dropdown-menu li a {
    color: #ffffff;
    line-height: 3.5rem;
    padding: 0 50px;
  }
  .navbar-self .navbar-nav .open > a,
  .navbar-self .navbar-nav .open > a:hover,
  .navbar-self .navbar-nav .open > a:focus {
    line-height: 3.5rem !important;
    background-color: #198461;
  }
  .navbar-self .navbar-nav > li {
    border-bottom: 1px solid #198461;
  }
  .navbar-self .navbar-nav > li > a {
    line-height: 3.5rem !important;
  }
  .fa {
    line-height: 3.5rem;
  }
  .container {
    padding: 0 5px;
  }
}
.navbar-fixed-top {
  position: fixed;
  z-index: 1030;
}
.footer {
  width: 100%;
  bottom: 0;
  background-color: #198461;
  z-index: 1030;
  text-align: center;
  min-height: 4rem;
  line-height: 4rem;
}
.carousel {
  background-color: #000;
  height: 30rem;
}
.carousel .item {
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}
.carousel .item .carousel-caption p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .carousel {
    height: 13rem;
  }
  .carousel .item {
    height: 13rem;
  }
}
.aboutMe .item {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px #888888;
  line-height: 2;
  text-align: center;
  height: 223px;
  overflow: hidden;
  position: relative;
  font-size: 12px;
}
.aboutMe .item img {
  height: 180px;
  width: 180px;
  margin-top: 11px;
}
.aboutMe .myInfo {
  line-height: 1.8;
}
@media (max-width: 767px) {
  .aboutMe .item {
    margin-bottom: 20px;
  }
  .myInfo {
    height: auto !important;
  }
}
.title {
  text-align: center;
  color: #666;
  font-weight: 600;
  margin: 20px;
  font-size: 18px;
}
.title .bAline {
  display: inline-block;
  content: "";
  border-bottom: 2px solid #666;
  width: 30px;
  vertical-align: middle;
}
.title::before {
  display: inline-block;
  content: "";
  border-bottom: 2px solid #666;
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.title::after {
  display: inline-block;
  content: "";
  border-bottom: 2px solid #666;
  width: 30px;
  vertical-align: middle;
  margin-left: 10px;
}
/*我的技术*/
.my-skills .skillItem {
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  float: left;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #888888;
  width: 90px;
  height: 90px;
  left: 50%;
  margin-left: -45px;
}
.my-skills .skillItem:hover {
  box-shadow: 0px 0px 5px #00aeef;
}
.my-skills .skillItem:hover .boxtips {
  bottom: 0px;
}
.my-skills .skillItem img {
  width: 90px;
  height: 90px;
}
.my-skills .skillItem .boxtips {
  position: absolute;
  left: 0;
  width: 90px;
  height: 90px;
  bottom: -90px;
  background: rgba(0, 0, 0, 0.8);
  color: #e8432e;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.my-skills .skillItem .boxtips .boxtipsContent {
  margin: 30px auto;
}
.my-skills .skillItem .boxtips .boxtipsContent .progress {
  height: 6px;
  margin: 0 10px;
}
.my-skills .skillItem .boxtips .boxtipsContent .progress .progress-bar {
  background-color: #e8432e !important;
  background-image: none;
}
.project {
  width: 100%;
  height: 120px;
  box-shadow: 0px 0px 5px #888888;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
.project .project-pic {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 50%;
  margin: 10px 0 0 10px;
  border: 1px solid #1d9a71;
}
.project .project-name {
  text-align: center;
  color: #666;
  margin: 20px 10px 0 10px;
  font-size: 15px;
  font-weight: 600;
}
.project .project-describe {
  text-align: center;
  color: #666;
  font-size: 13px;
  line-height: 1.8;
  margin: 10px;
}
@media (min-width: 407px) and (max-width: 776px) {
  .project {
    left: 50%;
    margin-left: -175px;
    width: 350px;
  }
}
.hobby {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.hobby .nav-self {
  height: 30px;
  border: 1px #d8d8d8 solid;
  font-size: 0;
  position: relative;
}
.hobby .nav-self .tap {
  width: 25%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}
.hobby .nav-self .tap-active {
  position: absolute;
  background-color: #11ac63;
  height: 30px;
  width: 0;
  transition: 0.5s;
  left: 0;
  margin-top: -1px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
}
.hobby .view {
  display: block;
  width: 100%;
  overflow: hidden;
}
.hobby .view .tabContent {
  left: 0;
  position: relative;
  width: 400%;
  transition: 0.5s;
  height: auto;
}
.hobby .view .tabContent .tabItem {
  max-height: 300px;
  overflow-y: scroll;
  float: left;
  width: 25%;
}
.hobby .view .tabContent .tabItem .bookContainer {
  min-height: 180px;
}
.hobby .view .tabContent .tabItem .container {
  width: 100%;
}
.hobby .view .tabContent .tabItem .oneItem {
  border: 1px solid #d8d8d8;
  margin: 10px 0;
  padding: 10px;
}
.hobby .view .tabContent .tabItem .oneItem .book-name-image {
  float: left;
  margin: 0 10px 0 0;
}
.hobby .view .tabContent .tabItem .oneItem .book-name-image .bookTitle {
  text-align: center;
  color: #666;
  margin: 5px 0;
}
.hobby .view .tabContent .tabItem .oneItem .oneItemTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  margin-bottom: 10px;
}
.hobby .view .tabContent .tabItem .oneItem .mainImg {
  margin: 0 auto 10px;
  display: block;
  max-width: 100%;
}
.hobby .view .tabContent .tabItem .oneItem .oneItemArticle {
  color: #666;
  line-height: 1.5;
  font-size: 12px;
  text-indent: 2em;
}
.hobby .view .tabContent .tabItem .oneItem .col-sm-2,
.hobby .view .tabContent .tabItem .oneItem col-xs-4 {
  padding: 0 5px !important;
}
.hobby .view .tabContent .tabItem .oneItemTitle {
  color: #666;
  text-align: center;
  font-weight: 600;
  margin: 10px 0 8px 0;
}
.imgs-grid-modal .modal-close {
  top: 55px !important;
  z-index: 1;
}
.imgs-grid {
  max-width: none;
}
