html {
  font-size: 62.5%;
  color: #222;
}
.logoImg {
  height: 4.5rem;
}
body {
  padding-top: 4.5rem;
}
.navbar-brand {
  padding: 0;
  height: auto;
}
.navbar-self {
  background-image: none;
  background-color: #1d9a71;
  color: #ffffff;
  border: none;
}
.navbar-nav {
  margin-left: 2rem;
}
.fa {
  line-height: 4.5rem;
}
.nav > li > a {
  padding: 0px 15px;
  line-height: 4.5rem;
  vertical-align: bottom;
  margin-right: 0.2rem;
}
.navbar-self .navbar-nav > .open > a,
.navbar-self .navbar-nav > .open > a:hover,
.navbar-self .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #198461;
  background-image: none;
  box-shadow: none;
  line-height: 4.5rem;
}
.navbar-fixed-top {
  position: fixed;
  z-index: 1030;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1030;
  text-align: center;
}
.navbar-self .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-nav > li > a:hover {
  background: none;
}
.navbar-self .navbar-toggle {
  border-color: #ffffff;
}
.navbar-self .navbar-toggle:focus,
.navbar-self .navbar-toggle:hover {
  background: none;
  background-color: #198461;
}
.navbar-self .navbar-collapse,
.navbar-self .navbar-form {
  border-color: #198461;
}
.carousel {
  height: 30rem;
}
.carousel .item {
  height: 30rem;
  background-image: url("../newImages/mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}
.carousel img {
  width: 100%;
  min-height: 30rem;
  object-fit: cover;
}
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.8;
}
.fa {
  vertical-align: bottom;
  margin-right: 0.2rem;
}
.fa-2x {
  font-size: 1.5em;
}
.navbar-self .nav > li:last-child {
  border-bottom: none;
}
.navbar-self .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}
@media (max-width: 767px) {
  .navbar-self .nav > li {
    border-bottom: 1px solid #198461;
  }
  .fa {
    line-height: 3rem;
  }
  .navbar-self .navbar-nav > .open > a,
  .navbar-self .navbar-nav > .open > a:hover,
  .navbar-self .navbar-nav > .open > a:focus {
    line-height: 3rem;
  }
  .nav > li > a {
    line-height: 3rem;
  }
  .navbar-self .navbar-nav {
    margin-left: -1.5rem;
  }
  .navbar-self .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-self .navbar-nav .open .dropdown-menu .divider {
    background-color: #198461;
    margin: 0 0 0 25px ;
  }
  .carousel {
    height: 15rem;
  }
  .carousel .item {
    height: 15rem;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
  }
  .navbar-self .navbar-nav .open .dropdown-menu > li > a,
  .navbar-self .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 50px;
  }
}
