#banner-bg{
    margin: 0 auto;
    height: 570px;
    overflow: hidden;

}
#banner-text{
    position: absolute;
    top:318px;
    left:50%;
    margin-left: -388px;
}
#banner-logo{  }
#bannner-text-under{
    margin-top: 17px;
    text-align: center;
    color: #fff;
}
.banner-text-line{
    display: inline-block;
    width:40px;
    border-top: 1px solid #fff;
    vertical-align: middle;
}
#bannner-text-under span{
    margin: 0 26px;
}
/*菜单*/
.index-list{
    border-top: 4px solid #f34949;
    height: 600px;
}
#menu-logo{

    position: absolute;
    top:0px;
    left: 50%;
    margin-left: -78px;
    height: 72px;
    width: 156px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    background-color: #f34949;
}
#menu-logo:after{
    position: absolute;
    content: '';
    left: 0px;
    bottom:0;
    width: 0;
    height: 0;
    border-left: 78px solid transparent;
    border-right:78px solid transparent ;
    border-bottom: 10px solid #fff;

}

#list-container{
    margin-top:150px;
    color: #555;
    width: 1100px;
    overflow: hidden;
}
#list-content{
    width:1200px;
}
.list-item{
    float: left;
    width: 500px;
    margin-right: 100px;
    margin-bottom: 56px;
}
.list-text{
    text-overflow:ellipsis;
    float: left;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;

}
.list-text-h1{
    color: #555;
    font-size: 16px ;
}
.list-text-p{
    margin-top: 4px;
    font-size:12px;
    color: #bcbcbc;
}
.line{
    float: left;
    margin-top: 10px;
    border-top: 1px solid #555;
    width: 200px;
    vertical-align: middle;
}
.price{
    float: right;
}

#more-button{
    clear: both;
    width:135px;
    margin:0 auto;
    height: 36px ;

    border: 1px solid #b7b7b7;
    bottom: 0;

}
#load-more{
    line-height: 36px;
    color: #b7b7b7;
    font-size: 14px;
}

#load-more span{
    margin-left: 15px;
}
#more-icon{
    display: inline-block;
    width: 11px;
    height: 7px;
    background: url("../images/loadmore.png") no-repeat;
}

/*panel*/
.index-panel{
    margin-top: 200px;
}
.index-panel-header h3{
    font-size: 20px;
    font-weight: normal;
    color: #3b3b3b;
    margin-right: 24px;
    float: left;
}
.panel-liner{
    margin-top: 11px;
    width: 200px;
    border-top: 1px solid #e5e3e3;
    float: left;
}
.panel-btn{
    font-size: 0;
    float: right;
}
.panel-btn .btn{
    margin-left: 11px;
    display: inline-block;
    width:9px;
    height: 9px;
    background: #dedede;
    border-radius: 50%;
}
.panel-btn .active{
    background: #f7bd33;
}

.index-panel-body{
    margin-top: 75px;
}
.food-container{

    overflow: hidden;
}
.food-list{
    width: 1160px;

}
.food-item{
    float: left;
    width: 230px;
    margin-right: 60px;

}
.food-decortion{
    margin-top: 30px;
}
.food-name{
    font-size:16px;
    color: #555555;
}
.food-price{
    float: right;
    font-size:16px;
    color: #555555;
}
.food-image{
    margin-bottom: 30px;
    height: 202px;
}
.star-group{
    margin-top: 10px ;
    font-size: 0;

}
.star{
    display: inline-block;
    width: 12px;
    height:13px;
    background: url("../images/star.jpg") no-repeat;
}
.no-star{
    display: inline-block;
    width: 12px;
    height:13px;
    background: url("../images/nostar.jpg") no-repeat;
}
/*图片*/
.index-panel-imagebody{
    clear: both;
    margin-top: 130px;
    height: 380px;
    overflow: hidden;
    margin-bottom: 200px;
}
.pic-col{
    float: left;
}
.pic-col-l{
    width: 353px;
}
.pic-col-m{
    width:287px;

}
.pic-col-r{
    width: 460px;
}